@font-face {
    font-family: "GameFont";
    src: url(font/courier-pixel-monospaced.otf);
}

body {
    flex-direction: column;
    user-select: none;
    font-family: "GameFont";
    overflow: hidden;
}

main {
    text-align: center;
    font-size: 1em;
}

#game {
    display: flex;
    height: 98vh;
}

#game div:nth-child(1) {
    justify-content: left;
    flex: 1 1 70%;
}

#game div:nth-child(2) {
    justify-content: right;
    flex: 1 1 400px;
}

#title {
    position: absolute;
    top: -30px;
    height: 7vh;
    justify-content: left;
    background-color: white;
}

#title img {
    position: relative;
    top: 10px;
    height: 50px;
}

#click-area {
    background-color: white;
    height: 100%;
    width: 75%;
}

#click-area #button {
    position: relative;
    display: block;
    top: calc(60% - 200px);
    left: calc(50% - 200px);
}

#button {
    height: 240px;
    width: 400px;
    background: url(/assets/unpressed.png) no-repeat;
    background-size: contain;
    background-position: 50%;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

#button:hover {
    cursor: pointer;
}

#click-area #button.pressed {
    background: url(/assets/pressed.png) no-repeat;
    background-size: contain;
    background-position: 50%;
}

#click-area #balance {
    display: static;
    position: relative;
    top: 50%;
    text-align: center;
    height: 80px;
    font-size: 4em;
    font-weight: bold;
    pointer-events: none;
}

#upgrades {
    background-color: white;
}

#upgrades.default {
    animation: slide-left 1s ease-in-out both;
}

#upgrades.compact {
    animation: slide-right 1s ease-in-out both;
}

#upgradeArea {
    position: relative;
    display: block;
    background: lightgray;
    border: 2px gray solid;
    border-radius: 15px 0 0 15px;
    height: 100%;
    width: auto;
}

#compactButton {
    position: relative;
    background-color: lightgray;
    height: 40px;
    width: 20px;
    border: 2px gray solid;
    border-right: none;
    border-radius: 10px 0 0 10px;
    top: 15px;
    left: -22px;
}

#compactButton:hover {
    cursor: pointer;
}

.arrow {
    position: relative;
    top: 5px;
    left: 5px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    pointer-events: none;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5px;
}

#upg1 {
    position: relative;
    display: block;
    height: 70px;
    width: 90%;
    background-color: white;
    top: 110%;
    left: calc(50% - 90%/2);
}

#click-effect {
    display: none;
    pointer-events: none;
}

#click-effect.click {
    display: block;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 100px;
    background: url(/assets/clickEffect.png) no-repeat;
    background-size: contain;
    animation: click 1s ease-in-out infinite;
}

@keyframes slide-right {
    100% {
        flex: 0 0 0px;
    }

    100% {
        transform: translateX(32px)
    }
}

@keyframes slide-left {
    0% {
        flex: 0 0 0px
    }

    0% {
        transform: translateX(32px)
    }

    100% {
        flex: 1 1 400px
    }

    100% {
        transform: translateX(0)
    }
}